//required to ovveride variables
//Configuration
@import 'bootstrap/scss/functions';

// override variables

// required
//following configuration pick the overriden variables
@import 'bootstrap/scss/variables';
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Reboot
@import "bootstrap/scss/reboot";

// a {
//     text-decoration: none;
//     color: var(--bs-body-color);
// }

// Layout & components

@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "tables";
// @import "forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
// @import "bootstrap/scss/accordion";
@import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "badge";
// @import "alert";
// @import "progress";
@import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
// @import "bootstrap/scss/modal";
@import "bootstrap/scss/tables";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
// @import "bootstrap/scss/offcanvas";
// @import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";
@import "bootstrap/scss/root";

@import "bootstrap-icons/font/bootstrap-icons.scss";

//optionsl
// @import "bootstrap/scss/reboot";
// @import "bootstrap/scss/type";

.min-vh-100 {
    min-height: 100vh !important;
}

@font-face {
    font-family: 'magar_akkha_rik_regular';
    src: url('../../font/magarakkhalipi-webfont.woff2') format('woff2'),
         url('../../font/magarakkhalipi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akkha_rika';
    src: url('../../font/Akkha-Rika-Lipi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.akkha {
    font-family: 'magar_akkha_rik_regular';
    font-size: 2rem;
}

.akkha-rika {
    font-family: 'akkha_rika';
}