@import "~@angular/material/theming";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 60%;
  background-color: mat-color($mat-cyan, 900);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}
